<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>
        
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/styles/bundle.css">
  </head>
  <body>

    {% block menu %}{% endblock %}

    {% block content %}{% endblock %}
    <script src="assets/scripts/bundle.js"></script>
  </body>
</html>
